<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %></title>
<%= stylesheet_link_tag'application', media: 'all','data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<h1>Я устал и у меня нет времени</h1>
<p>Тут должен быть проект</p>
</body>
</html>
